.foot {
  background-color: #ede9ef;
  padding-top: 70px;
  padding-bottom: 70px;
}

.foot .mycontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.foot .mycontainer ul {
  padding-left: 0;
}

.foot .mycontainer ul li {
  list-style: none;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #26093a;
  cursor: pointer;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer-logos img {
  width: 24px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.foot .mycontainer .five,
.foot .mycontainer .six {
  padding-left: 95px;
}

.copyright {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 1rem;
}

.copyright img {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .foot .mycontainer .five,
  .foot .mycontainer .six {
    padding-left: 0px;
  }

  .foot .mycontainer {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .foot .mycontainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .foot {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-logos {
    width: 48%;
  }

  .foot .mycontainer .five,
  .foot .mycontainer .six {
    padding-left: 0px;
  }
}
