.hero-section {
  height: 660px;
  background-color: #7c20be;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 6.25rem;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  line-height: 3.5156rem;
  width: 570px;
  z-index: 2;
}

.hero-content p {
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  width: 26.6875rem;
  line-height: 1.5625rem;
  z-index: 2;
}

.hero-content button {
  cursor: pointer;
  width: 339px;
  height: 45px;
  border: none;
  border-radius: 5px;
  color: #7c20be;
  z-index: 2;
}

.hero-img {
  margin-top: 2rem;
}

.hero-img {
  display: flex;
  gap: 1rem;
}

.hero-img div {
  height: 50px;
  border-radius: 5px;
  z-index: 2;
}

.hero-ellipse1 {
  border-radius: 50%;
  border: 70px solid #b145ff;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  height: 660px;
  left: 491px;
  position: absolute;
  top: 88px;
  width: 660px;
  opacity: 0.3;
}

.hero-ellipse2 {
  border-radius: 50%;
  border: 70px solid #b145ff;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  height: 541px;
  left: 802px;
  position: absolute;
  top: 173px;
  width: 541px;
  opacity: 0.3;
}

@media screen and (max-width: 1025px) {
  .hero-ellipse1 {
    left: 200px;
  }

  .hero-ellipse2 {
    left: 470px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .hero-ellipse1 {
    display: none;
  }

  .hero-ellipse2 {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .hero-content {
    padding-top: 0;
  }
  .hero-content h1 {
    font-size: 2.3rem;
    width: fit-content;
  }

  .hero-content p {
    width: fit-content;
  }

  .hero-content button {
    width: 80%;
    margin: auto;
  }

  .hero-img {
    gap: 0;
  }

  .hero-img div img {
    width: 130px;
    height: 40px;
  }

  .hero-section {
    height: 600px;
    display: flex;
    align-items: center;
  }
}
