.login {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-content {
  background-color: #eeedee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 5rem;
  text-align: center;
  width: 601px;
}

.login-content h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.login-content .form1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-content input {
  border-radius: 5px;
  border: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  padding: 1.5rem;
  width: 100%;
}

.login-content input:focus {
  outline: none;
}

.login-content button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #7c20bf;
  height: 48px;
}

.login-content a {
  color: #7c20bf;
  text-decoration: none;
}

.login-content .check {
  display: flex;
  justify-content: space-between;
}

.form2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.login-content input[type="checkbox"] {
  width: 11.67px;
  height: 20px;
  border: 2.8px solid #ffffff;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 0 2rem 2rem 2rem;
  }

  .login-content {
    padding: 4rem 3rem;
  }

  .login-content .pass {
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 426px) {
  .login-content {
   padding: 1rem;
  }

  .form2 {
    gap: 3px;
  }
}

