.whycrypto {
  background-color: #ede9ef;
  padding-top: 104px;
  padding-bottom: 104px;
}

.whycrypto-heading h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.whycrypto-heading button {
  border: none;
  width: 150px;
  height: 45px;
  background-color: #ede9ef;
  border: 1.6px solid #7c20be;
  border-radius: 5px;
  color: #7c20be;
}

.whycrypto-content {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.whycrypto-content-inner {
  max-width: 21.8487rem;
  height: 21.125rem;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 2rem;
  margin: auto;
}

.whycrypto-content-inner .image {
  width: 9.6144rem;
  height: 7.07rem;
}

.whycrypto-content-inner h6 {
  font-size: 16px;
  line-height: 18.75px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.whycrypto-content-inner p {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 17.0356rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1024px) {
  .whycrypto-content-inner {
    width: 18rem;
  }
}

@media screen and (max-width: 992px) {
  .whycrypto-content {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }

  .whycrypto-content-inner {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .whycrypto-content-inner p {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .whycrypto-content {
    flex-direction: column;
    gap: 2rem;
  }

  .whycrypto-content-inner {
    margin: 0 auto;
    padding: 0.5rem;
  }

  .whycrypto-content-inner p {
    font-size: 14px;
  }
}
